.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.grid-item{
    background-color: red;
    padding: 20px;
    text-align: center ;
}

@media (max-width:768){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:480){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }

}